<div class="row">
  <div class="col-md-6">
    <h2>New Topic</h2>
    <%= form_for @topic do |f| %>
      <div class="form-group">
        <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.text_area :body, rows: 6, class: 'form-control' %>
      </div>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>