<div class='row'>
  <div class='col-md-6'>
    <h2><%= image_tag @user.gravatar_url(size: 120) %> <%= @user.name %></h2>

    <h3>Topics</h3>
    <ul class='list-group'>
      <% @user.topics.each do |t| %>
        <li class='list-group-item'><%= link_to t.title, t %></li>
      <% end %>
    </ul>
  </div>
</div>
